body {
    margin: 0px;
}

#banner {
    background-color: #E8C84E;
    height: 50px;
    font-size: 130%;
    text-align: center;
    clear: both;
}

#left {
    background-color: #FFB544;
    height: 500px;
    width: 40%;
    font-size: 130%;
    float: left;
}

#mid {
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}

#right {
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    text-align: center;
    float: left;
}

#stopka {
    background-color: #E8C84E;
    height: 50px;
    text-align: right;
    padding: 10px;
    clear: both;
}

h1 {
    margin: 0px;
}

ul {
    background-color: #FFAA00;
}

li {
    padding-top: 30px;
    background-color: #FFAA00;
}

img,
h3 {
    margin-top: 50px;
}

form {
    margin-bottom: 100px;
}